qwerty-r(k)
  .qwerty-r
    for n in 1 2 3
      .row-{n}
        clear       both
        margin-left n * k * 0.33

    #BackSpace
      width         k * 1.67
    #Return
      width         k * 2.33
    #space
      margin-right  k
