mixin qwerty-r
  .qwerty-r
    .row-0
      +keys(6, 7, 8, 9, 0, '-', '=', 'backslash \\', '`')
    .row-1
      +keys('y', 'u', 'i', 'o', 'p', '[', ']', 'BackSpace Bksp')
    .row-2
      +keys('h', 'j', 'k', 'l', ';', 'quoteright \'', 'Return')
    .row-3
      +keys('n', 'm', ',', '.', '/', 'Shift_R Shift')
    .row-4
      +key('space', ' ')
      +keys('Delete Del', 'Super_R Super', 'Alt_R Alt', 'Control_R Ctrl')
