mixin edit
  .edit.key-cols-4
    +key('C+c edit-copy fa-copy')
    +key('C+x edit-cut fa-cut')
    +key('C+v edit-paste fa-paste')
    +key('Home,S+End Sel')
    +key('C+z edit-undo fa-undo')
    +key('C+y edit-redo', 'fa-undo fa-flip-horizontal')
    +key('C+s edit-save fa-save')
