mixin firefox
  .firefox.key-cols-2
    +key('ffx-fullscreen fa-desktop')
    +key('ffx-tab-close fa-close')
    +key('ffx-page-zoom-out fa-search-minus')
    +key('ffx-page-zoom-in fa-search-plus')
    +key('ffx-nav-back fa-angle-double-left')
    +key('ffx-nav-forward fa-angle-double-right')
    +key('ffx-bym-invert fa-adjust')
    +key('ffx-tab-groups fa-th')
