mixin firefox
  .firefox
    .key-cols-2
      +key('firefox-fullscreen fa-desktop')
      +key('firefox-tab-close fa-close')
      +key('firefox-bym-invert fa-adjust')
      +key('firefox-tab-groups fa-th')
      +key('firefox-page-zoom-out fa-search-minus')
      +key('firefox-page-zoom-in fa-search-plus')
      +key('firefox-nav-back fa-angle-double-left')
      +key('firefox-nav-forward fa-angle-double-right')
      +key('firefox-tab-previous fa-caret-square-o-left')
      +key('firefox-tab-next fa-caret-square-o-right')
