mixin pad-3
  .pad-3
    .key-cols-1
      +key('Print')
      +key('kde-konsole fa-terminal')
      +key('window-next fa-caret-square-o-right')
      +key('vbox-menu fa-navicon')
      +key('vbox-scale fa-expand')

