mixin pad-2
  .pad-2
    .key-cols-1
      +key('window-resize-h fa-arrows-h')
      +key('kde-kicker fa-gear')
      +key('edit-save fa-save')
      +key('vbox-fullscreen fa-arrows-alt')
      +key('vbox-seamless fa-th-large')
