mixin pad-1
  .pad-1.horizontal
    .key-cols-3
      +key('Super_L+v window-resize-v fa-arrows-v')
      +key('Super_L+h window-resize-h fa-arrows-h')
      +key('A+F4 window-close fa-close')
      +key('Page_Up PgUp')
      +key('Up fa-arrow-up')
      +key('Page_Down PgDn')
      +key('Left fa-arrow-left')
      +key('Down fa-arrow-down')
      +key('Right fa-arrow-right')
      +key('C+Page_Up tab-previous fa-caret-square-o-left')
      +key('C+Page_Down tab-next fa-caret-square-o-right')
      +key('VBOX-RELEASE,Super_L+a kde kicker fa-gear')
    .key-cols-1
      +key('Print print')
      +key('Super_L super')
      +key('terminal fa-terminal')
      +key('Scroll_Lock s-lock')
