mixin pad-1
  .key-cols-2
    +key('window-close fa-close')
    +key('window-resize-v fa-arrows-v')
    +key('firefox-tab-previous fa-caret-square-o-left')
    +key('firefox-tab-next fa-caret-square-o-right')
    +keys('Up fa-arrow-up', 'Page_Up PgUp')
    +keys('Down fa-arrow-down', 'Page_Down PgDn')
    +keys('Left fa-arrow-left', 'Right fa-arrow-right')
