mixin pad-1
  .pad-1.horizontal
    .key-cols-3
      +key('window-resize-v fa-arrows-v')
      +key('window-resize-h fa-arrows-h')
      +key('window-close fa-close')
      +key('Page_Up PgUp')
      +key('Up fa-arrow-up')
      +key('Page_Down PgDn')
      +key('Left fa-arrow-left')
      +key('Down fa-arrow-down')
      +key('Right fa-arrow-right')
      +key('ffx-tab-previous fa-caret-square-o-left')
      +key('ffx-tab-next fa-caret-square-o-right')
      +key('kde-kicker fa-gear')
    .key-cols-1
      +key('Print print')
      +key('Super_L super')
      +key('kde-konsole fa-terminal')
      +key('Scroll_Lock s-lock')
