mixin pad-1
  .pad-1.key-cols-2
    +key('window-close fa-close')
    +key('window-resize-v fa-arrows-v')
    +key('firefox-tab-previous fa-caret-square-o-left')
    +key('firefox-tab-next fa-caret-square-o-right')
    +keys('Page_Up PgUp', 'Up fa-arrow-up')
    +keys('Page_Down PgDn', 'Down fa-arrow-down')
    +keys('Left fa-arrow-left', 'Right fa-arrow-right')
