mixin pad-2
  .pad-2
    .key-cols-3
      +key('vbox-fullscreen fa-arrows-alt')
      //+key('vbox-scale fa-expand')
      +key('vbox-seamless fa-th-large')
      +key('vbox-menu fa-navicon')
    .edit.key-cols-3
      +key('edit-copy fa-copy')
      +key('edit-cut fa-cut')
      +key('edit-paste fa-paste')
      +key('edit-undo fa-undo')
      +key('edit-redo', 'fa-undo fa-flip-horizontal')
      +key('edit-save fa-save')
      //+key('edit-select Sel')
    .key-cols-3
      +key('kde-konsole fa-terminal')
      +key('Print')
