mixin vbox
  .vbox.key-cols-3
    +key('VBOX-HOST+p vbox-pause fa-pause')
    +key('VBOX-HOST+m vbox-menu fa-navicon')
    +key('VBOX-HOST+s vbox-scale fa-expand')
    +key('VBOX-HOST+l vbox-seamless fa-th-large')
    +key('VBOX-HOST+f vbox-fullscreen fa-arrows-alt')
