mixin vbox
  .vbox.key-cols-4
    +key('VBOX-HOST+l vbox-seamless fa-th-large')
    +key('VBOX-HOST+f vbox-fullscreen fa-arrows-alt')
    +key('VBOX-HOST+m vbox-menu fa-navicon')
    +key('VBOX-HOST+s vbox-scale fa-expand')
