mixin vim
  .vim.key-cols-2
    +key('vim-outdent fa-angle-double-left')
    +key('vim-indent fa-angle-double-right')
    // vim-expand-region
    +key('_ fa-minus-square-o')
    +key('+ fa-plus-square-o')
    +key('V')
