mixin vlc-player
  .vlc-player
    .key-cols-3
      +key('Escape Esc')
      +key('vlc-ofil fa-file-video-o')
      +key('vlc-odir fa-folder-open-o')

      +key('vlc-fullscreen fa-desktop')
      +key('vlc-volume-down fa-volume-down')
      +key('vlc-volume-up fa-volume-up')

      +key('vlc-previous fa-step-backward')
      +key('vlc-stop fa-stop')
      +key('vlc-next fa-step-forward')

    .key-cols-3
      +key('vlc-back fa-backward').h-2
      +key('vlc-play fa-play').h-2
      +key('vlc-ffwd fa-forward').h-2

