mixin next
  +key('C+S+n vlc-next fa-step-forward')

mixin play
  +key('C+S+g vlc-play fa-play')&attributes(attributes)

mixin previous
  +key('C+S+p vlc-previous fa-step-backward')

mixin vlc-player
  .vlc-player
    .key-cols-4
      +key('Escape Esc')
      +key('C+o vlc-open-file fa-file-video-o')
      +key('C+f vlc-open-folder fa-folder-open-o')
      +key('Return Enter')

    .key-cols-3
      +key('C+S+d vlc-volume-down fa-volume-down')
      +key('C+S+s vlc-stop fa-stop').w-2
      +key('C+S+u vlc-volume-up fa-volume-up')

      +previous
      +key('f vlc-fullscreen fa-desktop').w-2
      +next

    .key-cols-3
      +key('C+S+b vlc-rewind fa-backward').h-2
      +play.h-2.w-2
      +key('C+S+f vlc-fast-forward fa-forward').h-2

mixin vlc-player-compact
  .vlc-player
    .key-cols-4
      +play
      +previous
      +next
