@require 'mixin/keys'

K = 23mm

key-size(K)
key-color(up:black, label-up:white, down:yellow, label-down:black)

body
  background  #222
  color       white
  font-family arial
  width       30 * K

.root
  height      6 * K

.edit
  key-color(label-up:yellow)
.firefox
  key-color(label-up:orange)
.vlc-player
  key-color(label-up:cyan)
