@require 'mixin/keys'

K = 23mm

key-size(K)
key-color(up:black, label-up:white, down:yellow, label-down:black)

body
  background  #222
  color       white
  font-family arial
  width       17 * K

.qwerty-l
.qwerty-r
  position    relative
  z-index     150
  #f.up, #j.up
    background-color red
  .thumb
    opacity     0.5

.root
  height      6 * K
  overflow    hidden

.sidepad
  background-color rgba(0, 0, 0, 0.5)
  height      5 * K
  overflow    auto
  position    fixed
  width       3 * K
  z-index     200
  .scrollpad
    width       10 * K
