@require 'mixin/keys'

K = 23mm

key-size(K)
key-color(up:black, label-up:white, down:yellow, label-down:black)

body
  background  #222
  color       white
  font-family arial
  width       20 * K

.qwerty-l
.qwerty-r
  position    relative
  z-index     150
  #f.up, #j.up
    background-color red
  .thumb
    opacity     0.5

.root
  height      6 * K
  overflow    hidden

.sidepad
  .scrollpad
    width       10 * K
  overflow    auto
  position    fixed
  height      5 * K
  width       3 * K
  z-index     200

.firefox
  key-color(label-up:orange)
.vlc-player
  key-color(label-up:cyan)
