extend /template/keys

include ../keyboard/compact/qwerty
include ../speakeys/mixin
include ./mixin/edit
include ./mixin/firefox
include ./mixin/vim
include ./mixin/vlc-player

append head
  title teslapad - left hand
  +prevent-zoom
  +css('l.css')

append layout
  .sidepad
    .scrollpad.horizontal
      +show-if(activeWindowTitle='Firefox|Vimperator|HERBERT|KANGO|ROO|SANDPIT|SWEEP')
        +firefox
      +show-if(activeWindowTitle='TED|SWEEP'): +vim
      .vertical
        .vbox.key-cols-4
          +key('vbox-seamless fa-th-large')
          +key('vbox-fullscreen fa-arrows-alt')
          +key('vbox-menu fa-navicon')
          +key('vbox-scale fa-expand')
        +edit
        +show-if(activeWindowTitle='HERBERT|SWEEP'): +vlc-player-compact
  .root.horizontal
    .key-cols-2
      - for (var n = 1; n <= 10; n++)
        +key('F' + n)
    +show-if(activeWindowTitle='HERBERT|SWEEP'): +vlc-player
    +qwerty-l
  .workspace-switcher
    +key('C+F12', 'fa-exchange')
  +speakeys

append script
  +script('/base.js')
  // include:LiveScript \../speakeys/mixin.ls
  // pending https://github.com/jadejs/jade/issues/939
