extend /template/keys

include ../keyboard/compact/qwerty
include ../speakeys/mixin
include ./mixin/edit
include ./mixin/pad-2
include ./mixin/vlc-player

append head
  title teslapad - left hand
  +prevent-zoom
  +css('l.css')

append layout
  .sidepad
    .scrollpad.horizontal
      +pad-2
      .f1-f12.key-cols-3
        - for (var n = 1; n <= 12; n++)
          +key('F' + n)
  .root.horizontal
    +show-if(activeWindowTitle='SWEEP')
      +vlc-player
    +qwerty-l
  +speakeys

append script
  +script('/base.js')
  // include:LiveScript \../speakeys/mixin.ls
  // pending https://github.com/jadejs/jade/issues/939
