@require 'mixin/keys'
@require './base'
@require '../keyboard/compact/qwerty'
@require '../speakeys/mixin'

qwerty-l(K)
speakbar()

.browser
.firefox
  key-color(label-up:orange)

.edit
  key-color(label-up:yellow)

.root
  float       right

.speakeys
  background  green
  padding     K * 0.05
  position    fixed
  left        K
  bottom      0px
  z-index     100
  &.error
    background  red
  &.live
    background  orange

.vbox
  key-color(label-up:#f08)

.vim
  key-color(label-up:#88f)

.vlc-player
  key-color(label-up:cyan)

.workspace-switcher
  position    fixed
  left        0
  bottom      0
  height      K
  z-index     100
  key-color(label-up:cyan, down:cyan)
