@require 'mixin/keys'
@require './base'
@require '../keyboard/compact/qwerty'
@require '../speakeys/mixin'

qwerty-l(K)
speakbar()

.pad-2
  background  #222
  position    fixed
  z-index     50
  key-color(label-up:yellow)

.speakeys
  background  green
  padding     K * 0.05
  position    fixed
  left        0px
  bottom      0px
  z-index     100
.speakeys.error
  background  red
.speakeys.live
  background  orange

.root
  float       right
  > div
    margin-left   K
