@require 'mixin/keys'
@require './base'
@require '../keyboard/compact/qwerty'
@require '../speakeys/mixin'

qwerty-l(K)
speakbar()

.f1-f12
  key-color(label-up:cyan)

.firefox
  key-color(label-up:orange)

.edit
  key-color(label-up:yellow)

.root
  float       right

.speakeys
  background  green
  padding     K * 0.05
  position    fixed
  left        0px
  bottom      0px
  z-index     100
.speakeys.error
  background  red
.speakeys.live
  background  orange

.vbox
  key-color(label-up:#f08)

.vim
  key-color(label-up:#88f)

.vlc-player
  key-color(label-up:cyan)
