@require 'mixin/keys'
@require './base'

key-record()
  .record
    key-color(label-up:red, down:red)

.browser
  key-color(label-up:orange)
  key-size(1.5 * K)

.edit
  key-color(label-up:yellow)
  key-size(1.5 * K)

.reaper
  key-record()
  .marker
    key-color(label-up:blue)
  .track
    key-color(label-up:orange)
  .transport
    key-color(label-up:yellow)
    key-record()

.vlc-player
  key-color(label-up:cyan)

.youtube
  key-color(label-up:orange)
