extend /template/keys

include ../numpad/mixin
include ../qwerty/mixin
include ../speakeys/mixin
include ../typey/mixin
include ./mixin/edit
include ./mixin/firefox
include ./mixin/pad-1
include ./mixin/pad-3

append head
  title teslapad - right hand
  +prevent-zoom
  +css('r.css')

append layout
  +pad-1
  .root.layout-horizontal
    +qwerty-r
    +show-if(activeWindowTitle='firefox|Vimperator|HERBERT|ROO|SWEEP')
      +firefox
    +edit
    +pad-3
    +numpad
  +speakeys
  .desk-switcher
    +key('B3', 'fa-hand-o-down fa-flip-horizontal')
    +keys('desk-1 D1','desk-2 D2','desk-3 D3','desk-4 D4')

append script
  +script('/r.js')
  // include:LiveScript \../mixin/speakeys.ls
  // pending https://github.com/jadejs/jade/issues/939
