extend /template/keys

include ../mixin/keyboard-r
include ../mixin/numpad
include ../mixin/speakbar

append head
  title teslapad - right hand
  +prevent-zoom()
  +link('r.css')

append layout
  .key-cols-1
    +key('window-close fa-close')
    +key('firefox-tab-previous fa-caret-square-o-left')
    +keys('Up fa-arrow-up', 'Down fa-arrow-down', 'Left fa-arrow-left')
  .key-cols-1
    +key('window-resize-v fa-arrows-v')
    +key('firefox-tab-next fa-caret-square-o-right')
    +keys('Page_Up PgUp', 'Page_Down PgDn', 'Right fa-arrow-right')
  +keyboard-r
  +numpad
  +speakbar

append script
  +script('/r.js')
