extend /template/keys

include ../mixin/numpad
include ../mixin/qwerty-r
include ../mixin/speakbar
include ./mixin/pad-1
include ./mixin/pad-2
include ./mixin/pad-3

append head
  title teslapad - right hand
  +prevent-zoom()
  +link('r.css')

append layout
  +pad-1
  +qwerty-r
  +pad-2
  +pad-3
  .f1-f12.key-cols-3
    - for (var y=10; y>0; y-=3)
      - for (var x=0; x<3; x++)
        - n = x + y
        +key('F' + n)
  +numpad
  +speakbar
  .desk-switcher
    +keys('desk-1 D1','desk-2 D2', 'desk-3 D3','desk-4 D4')

append script
  +script('/r.js')
