extend /template/keys

include ../mixin/f1-f12
include ../mixin/numpad
include ../mixin/qwerty-r
include ../mixin/speakbar
include ./mixin/pad-1
include ./mixin/pad-2

append head
  title teslapad - right hand
  +prevent-zoom()
  +link('r.css')

append layout
  +pad-1
  +qwerty-r
  +pad-2
  .key-cols-4
    +f1-f12
  +numpad
  +speakbar
  .desk-switcher
    +keys('desk-1 D1','desk-2 D2', 'desk-3 D3','desk-4 D4')

append script
  +script('/r.js')
