extend /template/keys

include ../keyboard/compact/qwerty
include ../numpad/mixin
include ./mixin/pad-1

append head
  title teslapad - right hand
  +prevent-zoom
  +css('r.css')

append layout
  .sidepad
    .scrollpad.horizontal
      +pad-1
  .root.horizontal
    +qwerty-r
    +numpad
  .desk-switcher
    +key('B3', 'fa-hand-o-down fa-flip-horizontal')
    +keys('desk-1 D1','desk-2 D2','desk-3 D3','desk-4 D4')
