extend /template/keys

include ../mixin/numpad
include ../mixin/qwerty-r
include ../mixin/speakbar
include ./mixin/edit
include ./mixin/firefox
include ./mixin/pad-1
include ./mixin/pad-2
include ./mixin/pad-3
include ./mixin/vlc-player

append head
  title teslapad - right hand
  +prevent-zoom()
  +link('r.css')

append layout
  +pad-1
  .root.layout-horizontal
    +qwerty-r
    +pad-2
    +show-if(activeWindowTitle='SWEEP')
      +vlc-player
    +show-if(activeWindowTitle='firefox|Vimperator|HERBERT|ROO|SWEEP')
      +firefox
    +edit
    +pad-3
    .f1-f12.key-cols-3
      +keys('F10', 'F11', 'F12', 'F7', 'F8', 'F9')
      +keys('F4', 'F5', 'F6', 'F1', 'F2', 'F3')
    +numpad
  +speakbar
  .desk-switcher
    +keys('desk-1 D1','desk-2 D2','desk-3 D3','desk-4 D4')

append script
  +script('/r.js')
  // include:LiveScript \../mixin/speakeys.ls
  // pending https://github.com/jadejs/jade/issues/939
