@require 'mixin/keys'
@require './base'
@require '../mixin/keyboard-r'
@require '../mixin/numpad'
@require '../mixin/speakbar'

keyboard-r(K)
numpad(K)
speakbar()

.desk-switcher
  position    fixed
  right       0px
  bottom      0px
  height      K
  opacity     0.5
  z-index     200

.f1-f12, .numpad
  margin      0 0 K K

.speakbar
  background  green
  padding     K * 0.05
