@require 'mixin/keys'
@require './lr'
@require '../keyboard/compact/qwerty'

qwerty-r(K)

.desk-switcher
  position    fixed
  right       0
  bottom      0
  height      K
  z-index     500
  key-color(label-up:cyan, down:cyan)

.pad-1
  key-color(label-up:yellow)

.sidepad
  right       0
