qwerty-l(k)
  .qwerty-l
    key-size(k)
    .fingers
      margin-left k * 0.35
      transform   rotate(10deg)
      .col-0
        margin-top  k * 0.75
      .col-1
      .col-3
        margin-top  k * 0.33
      .col-4
        margin-top  k * 0.5
    .thumb
      float       right

qwerty-r(k)
  .qwerty-r
    for n in 1 2 3
      .row-{n}
        margin-left n * k * 0.33
