qwerty(k, tilt)
  left      k * - tilt * 0.5
  position  relative
  transform rotate(tilt * 10deg)
  width     k * 9
  .fingers
    pointer-events none  // for thumb underlay
    .lane
      pointer-events auto
    .lane-0
      margin-top k * -0.5
    .lane-1
    .lane-3
      margin-top k * 0.33
    .lane-4
      margin-top k * 0.75
  .thumb
    left      k * tilt
    position  relative
    top       - k
    z-index   -10
    .key
      height    k * 2

qwerty-l(k)
  .qwerty-l
    qwerty(k, 1)
    .fingers
    .lane
    .thumb .key
      float     right

qwerty-r(k)
  .qwerty-r
    qwerty(k, -1)
