qwerty(k, tilt)
  position  relative
  top       k * -0.33
  left      k * - tilt * 0.5
  transform rotate(tilt * 10deg)
  width     k * 9
  .fingers
    pointer-events none  // for thumb underlay
    .lane
      pointer-events auto
    for stagger, i in -0.5 0.33 0 0.33 0.75
      .lane-{i}
        margin-top k * stagger
  .thumb
    position  relative
    left      k * tilt
    top       - k
    z-index   -10
    .key
      height    k * 2

qwerty-l(k)
  .qwerty-l
    qwerty(k, 1)
    .fingers
    .lane
    .thumb .key
      float     right

qwerty-r(k)
  .qwerty-r
    qwerty(k, -1)
