mixin lane(n)
  .lane.key-cols-1(class='lane-' + n)
    block

mixin lane5(k1, k2)
  +lane(5): +keys(k1, k2).w-2.h-2

mixin lane6(hand)
  +lane(6): +keys('Alt_' + hand + ' alt', 'Control_' + hand + ' ctrl').h-2.latchable

mixin lanes(...lanes)
  each l, i in lanes
    +lane(i): +keys(l)

mixin thumb(hand)
  .thumb
    +key('space', ' ').w-2
    +keys('layout:fn fn', 'Shift_' + hand + ' shift').w-3.latchable

mixin qwerty-l
  .qwerty-l.vertical
    .fingers.horizontal.layout.default
      +lanes("F11 5 t g b", '4 r f v', '3 e d c', '2 w s x', '1 q a z')
      +lane5('Tab tab', 'Escape esc')
      +lane6('L')
    .fingers.horizontal.layout.fn
      +lanes('F11 F5 % = +', 'F4 } ] "', "F3 { [ '", 'F2 @ ~ `', 'F1 ! | £')
      +lane5('|', '^')
      +lane6('L')
    +thumb('L')

mixin qwerty-r
  .qwerty-r.vertical
    .fingers.horizontal.layout.default
      +lanes('F12 6 y h n', '7 u j m', '8 i k ,', '9 o l .', '0 p - /')
      +lane5('BackSpace bksp', 'Return enter')
      +lane6('R')
    .fingers.horizontal.layout.fn
      +lanes('F12 F6 & = *', "F7 < ( '", 'F8 > ) <', 'F9 ; : >', 'F10 # _ \\')
      +lane5('Delete del', '$')
      +lane6('R')
    +thumb('R')
