mixin k(args)
  +key(args).h-2.w-2

mixin youtube
  .youtube.vertical
    div
      +k('A+Left nav-back fa-angle-double-left')
      +k('A+Right nav-forward fa-angle-double-right')
    div
      +k('Escape Esc')
      +k('f fa-desktop')
    div
      +k('Left fa-backward')
      +k('space fa-play')
      +k('Right fa-forward')
