.speakeys
  width       100%
  .buffer
    font-size     18pt
  .button
    margin-right  1em
  .disabled
    opacity       0.5

speakeys()
  .speakeys
    .button
      font-size   20pt
    .buffer
      clear       both
      margin-top  2em
