mixin speakeys
  .speakeys
    .unavailable.horizontal
      .button
        i.fa.fa-4x.fa-microphone-slash
      .text Speech recognition not supported in this browser.
    .available.horizontal
      .button.listen.enabled
        i.fa.fa-4x.fa-microphone
      .button.transmit
        i.fa.fa-4x.fa-check
      .text.buffer .
      .text.prompt Press the microphone icon to begin. Hold the tick icon to enter.
