.speakeys
  width       100%
  .msg
    font-size     18pt
  .button
    margin-right  1em

speakeys()
  .speakeys
    .button
      font-size   20pt
    .msg
      clear       both
      margin-top  2em
