.speakeys
  width       100%
  .available
  .buffer
  .unavailable
    display       none
  .button
    margin-right  1em
  .button:not(.enabled)
    opacity       0.5
  .text
    font-size     18pt

speakeys()
  .speakeys
    .button
      font-size   20pt
    .text
      clear       both
      margin-top  1em
      padding     1em
  .speakeys.live
    .text
      background  red
      color       white
