mixin speakeys
  .speakeys.layout-horizontal
    .button.start
      i.fa.fa-4x.fa-microphone
    .button.transmit.disabled
      i.fa.fa-4x.fa-check
    .text.buffer .
    .text.prompt Press the microphone icon to begin.
