extend /template/keys

include ./mixin

append head
  title speakeys
  style
    :stylus
      @require './mixin'
      speakeys()
      p > .fa
        margin-left   0.5em

block layout
  h1 speakeys
  p To transmit and enter, press and hold
    i.fa.fa-check
  +speakeys

append script
  +script('speakeys.js')
