extend /template/keys

include ./mixin

append head
  title speakeys
  style
    :stylus
      @require './mixin'
      speakeys()

block layout
  h1 speakeys
  +speakeys

append script
  +script('speakeys.js')
