@require 'mixin/keys'

// mixin to get size by key units
k(n)
  n * 23mm

// mixin to set width in key units
k-w(sel, n)
  {sel}
    width   k(n)

key-size(k(1))
key-color(black, yellow)
label-color(white, black)

body
  background  #222
  color       white
  font-family arial

.main
  margin-bottom 3em
  for n in (0..4)
    .row-{n}
      clear   both

.section
  float   left
