extend keyboard

include ../numpad/mixin

append head
  title split keyboard - right hand
  +link('r.css')

append layout
  .section.main
    .row-0
      +keys(6, 7, 8, 9, 0, '-', '=', 'backslash \\', '`', 'Delete Del')
    .row-1
      +keys('y', 'u', 'i', 'o', 'p', '[', ']', 'BackSpace Bksp')
    .row-2
      +keys('h', 'j', 'k', 'l', ';', 'quoteright \'', 'Return')
    .row-3
      +keys('n', 'm', ',', '.', '/', 'Shift_R Shift')
    .row-4
      +key('space', ' ')
      +keys('Alt_R Alt', 'Super_R Super', 'Left fa-arrow-left')
  .section.key-cols-1
    +keys('Page_Up PgUp', 'Page_Down PgDn')
    +keys('Up fa-arrow-up', 'Down fa-arrow-down', 'Right fa-arrow-right')
  .section
    +numpad()
