@require keyboard
@require '../numpad/mixin'

numpad(k(1))

body
  width       k(20)

.main
  for n in 1 2 3 // row indentations
    .row-{n}
      margin-left  n * k(0.33)

  #Alt_R
    margin-left k(1)
  #Left
    margin-left k(2)

  k-w '#BackSpace', 2.5
  k-w '#Return'   , 3
  k-w '#Shift_R'  , 3
  k-w '#space'    , 4

.numpad
  margin-left k(2)
