mixin numpad
  .numpad.layout-horizontal
    .key-cols-1
      +keys('Escape Esc', 'Tab', 'space Spc')
      +key('BackSpace Bksp').h-2
    .key-cols-3
      +keys('equal =', 'KP_Divide /', 'KP_Multiply *')
      +keys('7 8 9 4 5 6 1 2 3 0 00', 'KP_Decimal .')
    .key-cols-1
      +key('KP_Subtract -')
      +key('KP_Add +').h-2
      +key('KP_Enter Enter').h-2
